.placeholder-card {
  height: 400px;
  width: 350px;
  background: #FFF;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.placeholder-card-image {
  height: 200px;
  width: 320px;
  background: #E9EAED;
  margin-top: 15px;
}

.placeholder-card-title {
  position: absolute;
  top: 260px;
  left: 30px;
  width: 200px;
  height: 15px;
  background: #E9EAED;
}

.placeholder-card-content-1 {
  position: absolute;
  top: 305px;
  left: 30px;
  width: 305px;
  height: 15px;
  background: #E9EAED;
}

.placeholder-card-content-2 {
  position: absolute;
  top: 335px;
  left: 30px;
  width: 240px;
  height: 15px;
  background: #E9EAED;
}

.placeholder-card-content-3 {
  position: absolute;
  top: 365px;
  left: 30px;
  width: 270px;
  height: 15px;
  background: #E9EAED;
}
